
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (@Html.BeginForm())
        {
            <table>
                <tr>
                    <td>@Html.Label("User name: ")</td>
                    <td>@Html.TextBox("Username")</td>
                </tr>
            </table>
            <div id="Error" style="color:red">@Html.ValidationMessage("LoginError")</div>
            <input type="submit" value="Log In" />
        }
    </div>
</body>
</html>
